termcolor==1.1.0
pytest
beautifulsoup4==4.11.1
dash_core_components==1.15.0
dash_html_components==1.1.2
numpy==1.23.1
pandas==1.4.3
matplotlib
requests==2.22.0
statsmodels #tsa.arima.model import arima
arch
scipy
datetime
tqdm
